@media (max-width: 900px) {
	#Contenido {
		width: 100%;
	}
}

@media (min-width: 901px) {
	#Contenido {
		width: 900px;
	}
}

#Contenido {
	margin-left: auto;
  	margin-right: auto;
}

body {
	margin: 20px;
	font-family: 'Dancing Script', cursive;
	background-color: black;
}

img {
	box-shadow: 2px 2px 0 #02010a;
}

#Contenido-Principal {
	display: flex;
	flex-direction: column;
}

#Cabecera {
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-direction: row;
}

#Cabecera > div {
	padding: 10px;
	margin: 5px;
	width: 50%;
	vertical-align: middle;
}

#Titulo > h1 {
	font-size: 2.5em;
	text-shadow: 2px 2px 0 #02010a;
}

#Titulo, #Links {
	color: #FFF;
}

#Links {
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#Links > div {
	width: 20%;
}

#Links a {
	color: white;
	text-decoration: none;
}

#Links a:active {
	text-decoration: none;
}

#Imagen-Home {
	background-color: #82c3a6;
	display: flex;
	flex-direction: row;
}

#Imagen-Home > div {
	text-align: center;
	padding: 30px;
	margin: 10px;
	width: 100%;
}

#Imagen-Home-2 {
	background-color: #d5c75f;
	border-radius: 1px;
	display: flex;
	flex-direction: row;
}

#Imagen-Home-2 > div {
	text-align: center;
	padding: 30px;
	width: 50%;
}

#Rotar:hover {
	-webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    box-shadow: 2px 2px 0 #82c3a6;
    border-radius: 2px;
}

#Mover:hover {
	transform: translate(20px,-5px);
	box-shadow: 2px 2px 0 #82c3a6;
	border-radius: 2px;
}

#Contenedor-Footer {
	font-size: 1.2em;
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: row;
}

#Contenedor-Footer > div {
	text-align: left;
	padding: 30px;
	width: 50%;
}

#Galeria {
	background-color: #82c3a6;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#Galeria > div {
	text-align: center;
	padding: 10px;
	margin: 5px;
	width: 30%;
}

#Galeria > div:nth-child(even) {
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%); 
} 

.Efecto-Blur {
	filter: blur(10px); 
}

.Efecto-Sepia {
	filter: sepia(90%); 
}
